#enca{
  background-color: #A9F5A9;
}
#e1{
  background-color: #F5BCA9;
}
#a{
  background-image: url("calidohumedo.jpg");
  text-align: justify;
}
#a1{
  background-color: #F781F3;
}
#b{
  background-image: url("semihumedo.jpg");
  text-align: justify;
}
#b1{
  background-color: #F6CEE3;
}
#c{
  background-image: url("templado.jpg");
  text-align: justify;
}
#c1{
  background-color: #9FF781;
}
#d{
  background-image: url("seco.jpg");
  text-align: justify;
}
#d1{
  background-color: #F3E2A9;
}
#pi{
  background-color: #F5BCA9;
}
#pie{
  background-color: #F7D358;
}
